body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
  background-image: url("stars.jpg");
  margin: 0px;
  background-color: #fff;
}

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(240, 248, 255, 0.542);
  min-height: 100px;
  text-align: center;
  min-height: 200px;
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  background-color: #ffffffb9;
}

.mainContent {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #ffffffb9;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1f 1f;
}

#logo {
  display: inline-block;
  width: 900px;
  height: 70px;
  background-color: #2d3b5355;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 10px 10px 5px #333;
}

nav li {
  display: inline-block;
  height: 20px;
  border-radius: 25px;
  text-align: center;
}

nav li a {
  height: 20px;
  background-color: #8395b5;
  border-radius: 25px;
  text-align: center;
  text-decoration: underline;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
}

nav li a:hover {
  background-color: #fff;
}

#topNavActive {
  border: 2px solid #313131;
}

a {
  color: #000;
}

a:hover {
  color: #313131;
}

a:visited {
  color: #480808;
}
